.feature_section {
    background: $color_grey_dark;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &_wave {
        position: absolute;
        left: 0;
        bottom: -25%;
        width: 100%;
        z-index: -1;
    }
}
